* {
 font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 11px;
  min-height: 0;
  color: #FFCC00;
  background-color: #090040;
}

#mainbar {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


#custom-centerLogo {
  background-image: url("nixIcon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  min-width: 120px;
  min-height: 28px;

  margin: 0 10px;
}

#clock, #battery, #pulseaudio, #tray, #network, #bluetooth {
  padding: 5px 5px;
  margin: 1px 5px;
  background-color:#471396; 
  border-radius: 25px; 
}

