* {
 font-family: "Jetbrains Mono";
  font-weight: bold;
  font-size: 11px;
  min-height: 0;
  background-color:#2b163b;
  color: #bea1f7;
}


#clock, #battery, #pulseaudio, #tray, #network, #bluetooth {
  padding: 7px 5px;
  margin: 5px 5px;
  background-color:#3a393b; 
  border-radius: 5px; 
}

#battery {
  color: #7be3a1;
}

#battery.charging{
  color :#90cafc;
}

#battery.critical{
  color:#e63219;
}

#battery.warning{
  color:#fcf090;

}


